@reference '../app.css';

.cart-page {
    @apply text-center tracking-normal;
}

.cart-page-title {
    @apply text-2xl font-extrabold text-center mb-6;
}

.cart-page-shipping-info {
    @apply text-center;
}

.cart-page-shipping-text {
    @apply text-sm opacity-55 tracking-normal;
}

.cart-page-container {
    @apply container;
}

.cart-page-table {
    visibility: visible;
    @apply w-full mt-5;
}

.cart-page-table-header {
    @apply text-main opacity-55 hidden sm:table-header-group;
}

.cart-page-table-row {
    @apply bg-accent border-b border-gray;
}

.cart-page-table-cell {
    @apply p-3 text-left;
}

.cart-page-table-header-text {
    @apply uppercase tracking-normal;
}

.cart-page-table-total {
    @apply w-[110px];
}

.cart-page-item-row {
    @apply border-b border-gray flex flex-col sm:table-row;
}

.cart-page-summary {
    @apply flex justify-end border-t border-gray p-4;
}

.cart-page-summary-content {
    @apply grid justify-items-end gap-3;
}

.cart-page-summary-info {
    @apply text-xs opacity-55;
}

.cart-page-checkout-button {
    @apply text-xs text-center flex items-center justify-center gap-3;
}

.cart-page-continue-shopping {
    @apply text-xs text-center flex items-center justify-center gap-3;
}

@media (min-width: 640px) {
    table {
        @apply border-collapse collapse;
        @apply w-full;
    }
}

thead {
    @apply bg-[#f7f7f7];
}

thead th {
    @apply uppercase;
    @apply border-0;
    @apply text-xs;
}

tbody td {
    @apply border-0;
    @apply p-3;
}

tbody tr {
    @apply border-b border-gray;
}

button:hover {
    @apply bg-gray cursor-pointer;
}

button:focus {
    @apply outline-none;
}