@reference './app.css';

/* Container for accordion */
.accordion-container {
    @apply flex flex-wrap justify-start items-center overflow-hidden bg-transparent border-t border-b border-gray text-xs;
}

/* Label and input for accordion */
.accordion-label {
    @apply grow px-4 py-3 text-xs uppercase cursor-pointer;
}

.accordion-input {
    @apply mx-4 my-3 h-0 appearance-none rounded border opacity-0 absolute w-full;
}

/* SVG icon for toggle */
.accordion-icon {
    @apply mx-1 my-3 h-4 w-4 transition-all duration-200 peer-checked:rotate-45;
}

/* Accordion content */
.accordion-content {
    @apply absolute -translate-y-full scale-y-0 px-0 py-3 opacity-0 transition-all duration-200 peer-checked:relative peer-checked:translate-y-0 peer-checked:scale-100 peer-checked:scale-y-100 peer-checked:opacity-100 overflow-hidden;
}

/* Styling for heading and descriptions */
.accordion-heading {
    @apply text-xs font-semibold text-gray;
}

.accordion-description {
    @apply text-base text-gray;
}

.accordion-link {
    @apply underline;
}