@layer components {
    .hero {
        @apply relative -m-4 md:-m-8 2xl:-m-16 pb-4 md:pb-8 2xl:pb-16 overflow-hidden;
    }

    .hero-container {
        @apply bg-black md:max-h-screen grid items-end justify-center overflow-hidden gap-6 pb-4 md:pb-8 2xl:pb-16;
    }

    .hero-content {
        @apply mb-2 text-gray text-center text-3xl font-extrabold grid z-10 w-full gap-2 sm:gap-6 lg:gap-8 grid-cols-1;
    }

    .hero-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: clamp(45px, 7vw, 70px);
        font-size: clamp(0.8rem, 0.9vw + 0.4rem, 1.15rem);
        padding: clamp(0.2em, 0.25vw + 0.1em, 0.9em) clamp(0.4em, 1.8vw + 0.8em, 1.8em);
        border: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
        position: relative;
        color: var(--main);
        overflow: hidden;
        background-size: 100% 200%;
        background-position: top;
        transition: background-position 0.6s ease-in-out, color 0.4s ease-in-out;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .hero-btn:hover {
        color: var(--accent_dark);
        border-color: var(--accent_dark);
        background-position: bottom;
    }

    .hero-btn::before {
        content: "";
        position: absolute;
        inset: 0;
        /* background-color: rgba(0, 0, 0, 0.5); */
        z-index: -1;
        transition: background-color 0.4s ease-in-out;
    }

    .hero-btn:hover::before {
        background-color: var(--main);
    }

    .hero-btn::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        bottom: 50%;
        left: 0;
        right: 0;
        border-left: 2px solid var(--main);
        border-right: 2px solid var(--main);
        opacity: 0;

        transition: top 0.4s ease, bottom 0.4s ease, opacity 0.6s ease;
    }

    .hero-btn:hover::after {
        top: 0;
        bottom: 0;
        opacity: 1;
    }

    .hero-btn:hover {
        animation: wave 0.3s;
    }

    @keyframes wave {

        0%,
        100% {
            background-image: linear-gradient(to bottom, black 50%, var(--main) 50%);
        }

        50% {
            background-image: linear-gradient(to bottom, black 40%, var(--main) 60%);
        }
    }
}

#piepjack-hero {
    height: 80vh;
    background-image: url('@assets/img/hintergrund.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;

    .view-all {
        border: 1px solid white;
        background-color: transparent;
        transition: color 0.4s ease-in-out;
    }

    @media (min-width:1200px) {
        background-image: url('@assets/img/hintergrund-wide.jpg');
    }

    @media (max-width:1200px) {
        background-image: url('@assets/img/hintergrund-tablet.jpg');
    }

    @media (max-width:768px) {
        /* height: 70vh; */
        background-image: url('@assets/img/hintergrund-mobile-2.jpg');
    }
}

#piepjack-hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    /* Adjust the opacity here */
    z-index: 1;
}




/* HOME CATEGORIES  */

@layer components {
    .home-categories-container {
        @apply grid grid-cols-2 sm:grid-cols-2 gap-y-4 md:gap-y-8 gap-x-8 md:gap-x-16 lg:gap-10 2xl:gap-16 text-accent font-extrabold text-2xl;
    }

    .home-categories-item {
        @apply overflow-hidden relative;
    }

    .home-categories-item-content {
        @apply transition-transform duration-500 ease-in-out hover:scale-110;
    }

    .home-categories-item-image {
        @apply filter brightness-75 h-full w-full object-cover;
    }

    .home-categories-item-title {
        @apply text-base md:text-2xl relative start-5 bottom-10 md:start-12 md:bottom-16 mb-0;
    }
}

/* HOME PRODUCTS  */

.home-products-container {
    @apply flex flex-col justify-center items-center;
}

.home-products-error {
    @apply text-red-500;
}

.home-products-list {
    @apply w-full grid gap-x-3 md:gap-x-5 xl:gap-x-7 gap-y-12 md:gap-y-6 xl:gap-y-5 2xl:gap-y-8 bg-accent grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 2xl:grid-cols-4;
}

.home-products-item {
    @apply list-none grid justify-center;
}